Flask==2.3.2
Flask-Mail==0.10.0
Flask-WTF==1.2.2
fpdf==1.7.2
email-validator==2.1.1
WTForms==3.2.1
Jinja2==3.1.6
itsdangerous==2.2.0
Werkzeug==2.3.7
numpy==1.26.4
scapy==2.6.1
colorama==0.4.6
click==8.1.7
blinker==1.9.0
gunicorn
